/*  CSS related to positioning and function  */

h1 { /* Additional styling in fonts */
	margin: 12px;
}
h2 { /* Additional styling in fonts */
	margin: 12px;
}

html {
	background-image:url("../pics/field.jpg");
	background-color: (0, 0, 0, 0.3);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.button{
	background:    #fff;
	background:    -webkit-linear-gradient(#fff, #ccc);
	background:    linear-gradient(#fff, #ccc);
	border:        1px solid #ccc;
	border-radius: 999px;
	box-shadow:    0 2px 0 0 #666;
	color:         #000;
	display:       inline-block;
	padding:       10px 25px;
	font:          normal 400 18px/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px 0 #f3f3f3;
}

.scarfImg {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding-top: 15px;
	width: 480px;
	height: auto;
	border: 0px;
}

.hidden {
	display: none;
}

.shown {
	border: black solid 1px 5px;
	margin: 5px;
}

.fade-in {
	-webkit-animation: fade-in .8s ease;
	-moz-animation: fade-in ease-in-out .8s both;
	-ms-animation: fade-in ease-in-out .8s both;
	-o-animation: fade-in ease-in-out .8s both;
	animation: fade-in .8s ease;
	visibility: visible;
	-webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
